@CHARSET "UTF-8";

.list-group-item{
	border:none;
}

.marginTop{
	margin-top: 40px;
}

.rodape{
	border-top:2px solid #dddddd;
	margin:0 auto; padding:20px 0;
	text-align: center;
	margin-top:80px;
}

.navbar-inverse{
	border-radius:0;
}

.perfil{
	background-color: #dddddd;
	padding:20px 0;
}

.avatar{
	width: 200px;
	border-radius:100px;
	border:1px solid #CAC7C7;
}